* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cee0e4;
}
nav {
  background-color: #088395;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 17px;
}
nav h2 {
  font-style: oblique;
  color: #ebf4f6;
  font-family: sans-serif;
}

.nav-item a {
  text-decoration: none;
  margin-left: 15px;
  color: #ebf4f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.nav-item a:hover {
  color: #92a3a7;
  transition: 1s ease-in;
}
.about {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 45%;
  padding: 5vw 4vw;
}

.left h4 {
  font-size: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#element {
  color: #09637e;
}

.left p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  margin-top: 20px;
  font-size: 20px;
  color: #636667;
}

.right {
  height: 100%;
  width: 55%;
  padding: 5vw 4vw;
  display: flex;
  justify-content: center;
}

.right img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
hr {
  margin: 0 5vw 0 5vw;
  height: 2px;
  border-radius: 20px;
  background-color: #09637e;
}
.skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 2vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.skill p{
  margin-top: 2px;
  text-align: center;
}

.skill-item {
  padding: 2vw;
  display: flex;
  gap: 5px;
}
.skill-item h4 {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.skill button {
  background-color: #b5dbe4;
  color: black;
  padding: 4px 7px;
  border-radius: 10px;
  border: 1px solid grey;
}
.skill button:hover {
  background-color: #9ad6e3;
}

.project h4 {
  margin-top: 15px;
  text-align: center;
  font-size: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
